{% extends "base/base.html" %}

{% block content %}

<div class="page-header" style="margin-top:100px;">
	<h2>Work</h2>
</div>

<p class="text-info">I enjoy developing interesting and challenging web applications. <a href="/contact">Contact me</a> if you'd like to discuss your project.</p>

<p class="text-info">Founded <a href="https://silvers.net">a web development and hosting company</a> way back in 2003. Still operating it today.</p>

<p class="text-info">Managed and developed the technical side of <a href="http://bfads.net">BFAds</a> from 2004 to 2014. We were one of the busiest 250 sites in the world Thanksgiving week several of these years. The site got <a href="http://www.nytimes.com/2007/11/18/technology/18digi.html">tons of media attention</a>. Every year, the site had to scale from zero traffic for eleven months of the year, surging to millions of page requests per hour when an advertisement from a major retailer would be released. Interesting portions of this job included dealing with email delivery to an enourmous double opt-in email list and reverse engineering affiliate network redirection schemes for deep linking. BFAds was acquired by <a href="http://ebates.com">Ebates</a> in 2012.</p>



<div class="page-header" style="margin-top:100px;">
	<h2>Play</h2>
</div>

<p class="text-info">I live in Madison, Wisconsin.</p>

<p class="text-info">Instrument rated private pilot. Member of <a href="http://www.capcityflyers.org/">Capital City Flyers</a>, a Madison based flying club. Completed a Rocky Mountain Adventure with <a href="http://www.ifrwest.com/">Field Morey</a> in May 2014.</p>

<p class="text-info">I enjoy <a href="/photography">photography</a>. The keyword here is amateur, but somehow have managed to have a few <a href="http://www.isthmus.com/isthmus/article.php?article=34475">photos</a> <a href="http://www.isthmus.com/isthmus/article.php?article=33190">published</a>.</p>

<p class="text-info">Rum connoisseur. Traveled to many amazing places in the process and met some awesome people.</p>


{% endblock %}